body{
    font-family:  Helvetica, sans-serif;
    color: black;
    
}

h1{
    font-size: 64px;
    padding: 15px;
    font-weight: bold;
    
}

h5, p{
    padding: 15px;
    text-align: justify;
}

.row{
    height: 100vh !important;
}

.header-box{
    width: 80%;
    margin:auto;
}

.robot-image{
    height: auto;
    width: 70%;
    /*max-height: 90vh !important;*/
    margin-left: auto;
    margin-right: auto;
}

.slides-wrapper{
    width:90%;
    height: 100vh !important;
    margin:auto;
    box-sizing: border-box;
}

.logo{
    
    display:block;
    width: 40%;
    height: auto;
    margin: auto;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.myButton {
	left: 16px;
    position: relative;
    background: cornflowerblue;
    border-radius: 6px;
    height: 40px;
    width: 130px;
    cursor: pointer;
    color: white;
	text-decoration: none;
}

.myButton:hover {
	background: #3b5584;
	text-decoration: none;
}

button:focus {outline:0;}


#myVideo {
	margin: 0 auto;
    width: 100%;
	border-radius: 60px;
}

.section {
	background: #e2e1e1;
}

#myVideos {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}





